body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: auto 0;
	background-image: url("i/bg.jpg");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #4eb2fe;
	image-rendering: crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

img {
	pointer-events: none	!important;
}

#hero {
	width: 500px;
	height: 145px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero_logo {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@media only screen and (max-width:550px) { 
	#hero {
		width: 75%;
		height: 100vh;
		background-image: url("i/logo/Partial_Background_Invert.png");
		background-position: center;
		background-size: 50%;
		background-repeat: no-repeat;
	}
	.hero_logo {
		display: none;
	}
}