@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(16, 18, 19);
  overflow-x: hidden;
  background-image: url(i/heroBG.jpg);
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0) !important;
}

.blob {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: -75vh;
  top: -2.5vh;
  z-index: 1;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blob-blur {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: -75vh;
  top: -2.5vh;
  filter: blur(50px);
  z-index: 0;
  opacity: 0.25;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blob2 {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: -75vh;
  top: -2.5vh;
  z-index: 1;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blob-blur2 {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: -75vh;
  top: -2.5vh;
  filter: blur(50px);
  z-index: 0;
  opacity: 0.25;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.title-1 {
  position: absolute;
  font-size: 4rem;
  color: white;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  animation-name: title;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 0s;
}

.title-2 {
  position: absolute;
  font-size: 4rem;
  color: white;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  animation-name: title;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 5s;
}

@keyframes title {
  0% {
    top: calc(50% + 100px);
    opacity: 0.0;
  }
  10% {
    top: calc(50%);
    opacity: 1.0;
  }
  20% {
    top: calc(50%);
    opacity: 1.0;
  }
  30% {
    top: calc(50%);
    opacity: 1.0;
  }
  40% {
    top: calc(50%);
    opacity: 1.0;
  }
  50% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  60% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  70% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  80% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  90% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  100% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
}

.title-1 span {
  color: #46acff;
}

.title-2 span {
  color: #fcd769;
}

#slide {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
}

#slide.slide-2 {
  background-color: rgb(16, 18, 19);
  color: rgb(236, 244, 249);
}

.slide-left-cont {
  width: 50vw;
  height: 100vh;
  position: relative;
  float: left;
}

.slide-right-cont {
  width: 50vw;
  height: 100vh;
  position: relative;
  float: right;
}

.slide-content-text {
  position: absolute;
  width: 85%;
  height: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 1s;
  top: calc(50% - 50px);
  opacity: 0.0;
}

.slide-content-text.active {
  position: absolute;
  width: 85%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  top: calc(50%);
  opacity: 1.0;
  transition: 1s;
}

.slide-content-text p {
  margin-top: 5px;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.slide-content-text h3 {
  margin: 0 auto;
  color: #46acff;
  font-size: 2rem;
}

.slide-content-text h3.heading-slide1 {
  color: #fcd769;
}

.slide-content-text h3.heading-slide2 {
  color: #9dffe2;
}

.slide-2 a {
  color: #9dffe2;
  text-decoration: none;
}

.slide-3 a {
  color: #ff7070;
  text-decoration: none;
}

.slide-content-text h3.heading-slide3 {
  color: #ff7070;
}

.slide-content-text h3::after {
  content: '';
  position: absolute;
  width: calc(0%);
  margin-left: 10px;
  margin-top: 7px;
  height: 23.5px;
  transition: 1s;
}

.topBar {
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 5;
  top: 0;
  transform: scaleY(0.5);
  transform-origin: top center;
}

.scroll-down {
  color: #46acff;
  padding: 10px;
  position: absolute;
  font-size: 0.9rem;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  text-decoration: none;
  transition: 0.25s;
}

.scroll-down:hover {
  letter-spacing: 2px;
  transition: 0.25s;
  color: #fcd769;
}

.slide-content-text h3.heading-slide1::after {
  background-color: #fcd769;
}

.slide-content-text h3.heading-slide2::after {
  background-color: #9dffe2;
}


.slide-content-text h3.heading-slide3::after {
  background-color: #ff7070;
}


.slide-content-text h3.active::after {
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 7px;
  height: 23.5px;
  transition: 1s;
}

.slide-blob-cont {
  width: 65%;
  position: absolute;
  left: 50%;
  top: calc(50% - 100px);
  opacity: 0.0;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.slide-blob-cont.active {
  width: 65%;
  position: absolute;
  left: 50%;
  top: calc(50%);
  opacity: 1.0;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.slide-blob {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

.slide-blob-blur {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: -1;
  filter: blur(25px);
  opacity: 0.25;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

.stars-bg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.0;
  transition: 1s;
}

.stars-bg.active {
  opacity: 0.1;
  transition: 1s;
}

@keyframes pulse {
  0% {
    transform: rotate(0deg) scale(1.0);
  }
  50% {
    transform: rotate(15deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1.0);
  }
}