@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.hero {
  background-color: rgb(16, 18, 19);
  background-image: url(i/heroBG.jpg);
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: rgba(0,0,0,0) !important;
}

.blob {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: -75vh;
  top: -2.5vh;
  z-index: 1;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blob-blur {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: -75vh;
  top: -2.5vh;
  filter: blur(50px);
  z-index: 0;
  opacity: 0.25;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blob2 {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: -75vh;
  top: -2.5vh;
  z-index: 1;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blob-blur2 {
  height: 105vh;
  width: 105vh;
  position: absolute;
  background-image: url(i/blob-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: -75vh;
  top: -2.5vh;
  filter: blur(50px);
  z-index: 0;
  opacity: 0.25;
  animation-name: spin;
  animation-duration: 50s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.title-1 {
  position: absolute;
  font-size: 4rem;
  color: white;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  animation-name: title;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 0s;
}

.title-1 span::before {
  content: 'Zachary';
  position: absolute;
  font-size: 4rem;
  color: #46acff;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.25;
}

.title-2 span::before {
  content: 'Universe';
  position: absolute;
  font-size: 4rem;
  color: #fcd769;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.25;
}

.title-2 {
  position: absolute;
  font-size: 4rem;
  color: white;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  animation-name: title;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 5s;
}


.twinkle {
  position: absolute;
  top: calc(50% + 125px);
  left: calc(50% - 100px);
  transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
  transform-origin: 0 0;
  opacity: 0;
  width: 65px;
  height: 65px;
  background-image: url(i/shooting-star.png);
  background-size: cover;
  z-index: 1;
  pointer-events: none;
  animation-name: twinkle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 3s;
}

.twinkle-2 {
  position: absolute;
  top: calc(50% - 165px);
  left: calc(50% + 95px);
  transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
  transform-origin: 0 0;
  opacity: 0;
  width: 65px;
  height: 65px;
  background-image: url(i/shooting-star.png);
  background-size: cover;
  z-index: 1;
  pointer-events: none;
  animation-name: twinkle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 7s;
}

.twinkle-3 {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 165px);
  transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
  transform-origin: 0 0;
  opacity: 0;
  width: 65px;
  height: 65px;
  background-image: url(i/shooting-star.png);
  background-size: cover;
  z-index: 1;
  pointer-events: none;
  animation-name: twinkle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-delay: 10s;
}

@keyframes twinkle {
  0% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  10% {
    transform: rotate(360deg) scale(0.75) translate(-50%, -50%);
    opacity: 1;
  }
  20% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  30% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  40% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  60% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  70% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  80% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  90% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(0.0) translate(-50%, -50%);
    opacity: 0;
  }
}

.shooting-star {
  position: absolute;
  left: 0%;
  top: calc(50% + 300px);
  transform: rotateZ(0deg) scale(0.65) translateY(-50%);
  opacity: 0.25;
  width: 65px;
  height: 65px;
  background-image: url(i/shooting-star.png);
  background-size: cover;
  animation-name: star;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
  z-index: 1;
  pointer-events: none;
}

.space-ship {
  position: absolute;
  right: calc(0% - 65px);
  top: calc(50% + 300px);
  transform: rotateZ(0deg) scale(0.65) translateY(-50%);
  opacity: 0.75;
  width: 65px;
  height: 65px;
  background-image: url(i/space-ship.png);
  background-size: cover;
  animation-name: ship;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 15s;
  z-index: 5;
  pointer-events: none;
}

@keyframes star {
  0% {
    left: 0%;
    top: calc(50% + 300px);
    transform: rotateZ(0deg) scale(0.65) translateY(-50%);
    opacity: 0.25;
  }
  25% {
    left: 100%;
    top: calc(50% - 300px);
    transform: rotateZ(750deg) scale(0.85) translateY(-50%);
    opacity: 1;
  }
  50% {
    left: 100%;
    top: calc(50% - 300px);
    transform: rotateZ(750deg) scale(0.85) translateY(-50%);
    opacity: 1;
  }
  75% {
    left: 100%;
    top: calc(50% - 300px);
    transform: rotateZ(750deg) scale(0.85) translateY(-50%);
    opacity: 1;
  }
  100% {
    left: 100%;
    top: calc(50% - 300px);
    transform: rotateZ(750deg) scale(0.85) translateY(-50%);
    opacity: 1;
  }
}

@keyframes ship {
  0% {
    right: calc(0% - 65px);
    top: calc(50% + 300px);
    transform: rotateZ(-65deg) scale(0.55) translateY(-50%);
    opacity: 0.75;
  }
  25% {
    right: calc(100% + 65px);
    top: calc(50% - 300px);
    transform: rotateZ(-85deg) scale(0.65) translateY(-50%);
    opacity: 1;
  }
  50% {
    right: calc(100% + 65px);
    top: calc(50% - 300px);
    transform: rotateZ(-85deg) scale(0.65) translateY(-50%);
    opacity: 1;
  }
  75% {
    right: calc(100% + 65px);
    top: calc(50% - 300px);
    transform: rotateZ(-85deg) scale(0.65) translateY(-50%);
    opacity: 1;
  }
  100% {
    right: calc(100% + 65px);
    top: calc(50% - 300px);
    transform: rotateZ(-85deg) scale(0.65) translateY(-50%);
    opacity: 1;
  }
}

@keyframes title {
  0% {
    top: calc(50% + 100px);
    opacity: 0.0;
  }
  10% {
    top: calc(50%);
    opacity: 1.0;
  }
  20% {
    top: calc(50%);
    opacity: 1.0;
  }
  30% {
    top: calc(50%);
    opacity: 1.0;
  }
  40% {
    top: calc(50%);
    opacity: 1.0;
  }
  50% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  60% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  70% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  80% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  90% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
  100% {
    top: calc(50% - 100px);
    opacity: 0.0;
  }
}

.title-1 span {
  color: #46acff;
}

.title-2 span {
  color: #fcd769;
}

#slide {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
}

#slide.slide-2 {
  background-color: rgb(16, 18, 19);
  color: rgb(236, 244, 249);
}

.slide-left-cont {
  width: 50vw;
  height: 100vh;
  position: relative;
  float: left;
}

.slide-right-cont {
  width: 50vw;
  height: 100vh;
  position: relative;
  float: right;
}

.slide-content-text {
  position: absolute;
  width: 85%;
  height: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 1s;
  top: calc(50% - 50px);
  opacity: 0.0;
}

.slide-content-text.active {
  position: absolute;
  width: 85%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  top: calc(50%);
  opacity: 1.0;
  transition: 1s;
}

.slide-content-text p {
  margin-top: 5px;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.slide-content-text h3 {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  color: #46acff;
  font-size: 2rem;
}

.slide-content-text h3.heading-slide1 {
  color: #fcd769;
}

.slide-content-text h3.heading-slide2 {
  color: #9dffe2;
}

.slide-2 a {
  color: #9dffe2;
  text-decoration: none;
}

.slide-3 a {
  color: #ff7070;
  text-decoration: none;
}

.slide-content-text h3.heading-slide3 {
  color: #ff7070;
}

.slide-content-text h3::after {
  content: '';
  position: absolute;
  width: calc(0%);
  margin-left: 10px;
  margin-top: 7px;
  height: 23.5px;
  transition: 1.1s;
}

.topBar {
  position: absolute;
  width: 101vw;
  left: -0.5vw;
  z-index: 5;
  top: -10px;
  transform: scaleY(0.75);
  transform-origin: top center;
  transition: 1.1s;
}

.topBar.active {
  top: 0px;
  transition: 1.1s;
}

.topBar-Last {
  position: absolute;
  width: 100vw;
  left: -0.5vw;
  z-index: 5;
  top: 0;
  transform: scaleY(0.75);
  transform-origin: top center;
  transition: 1.1s;
}

.topBar-Last.active {
  top: -100px;
  transition: 1.1s;
}

.scroll-down {
  color: #46acff;
  padding: 10px;
  position: absolute;
  font-size: 0.9rem;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  text-decoration: none;
  transition: 0.25s;
}

.scroll-down:hover {
  letter-spacing: 2px;
  transition: 0.25s;
  color: #fcd769;
}

.slide-content-text h3.heading-slide1::after {
  background-color: #fcd769;
}

.slide-content-text h3.heading-slide2::after {
  background-color: #9dffe2;
}


.slide-content-text h3.heading-slide3::after {
  background-color: #ff7070;
}


.slide-content-text h3.active::after {
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 7px;
  height: 23.5px;
  transition: 1.1s;
}

.slide-blob-cont {
  width: 65%;
  position: absolute;
  left: 50%;
  top: calc(50% - 100px);
  opacity: 0.0;
  transform: translate(-50%, -50%);
  transition: 1.1s;
}

.slide-blob-cont.active {
  width: 65%;
  position: absolute;
  left: 50%;
  top: calc(50%);
  opacity: 1.0;
  transform: translate(-50%, -50%);
  transition: 1.1s;
}

.slide-blob {
  position: relative;
  z-index: 1;
  width: 100%;
  float: left;
  height: auto;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

.slide-blob-blur {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: -1;
  filter: blur(25px);
  opacity: 0.25;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

.stars-bg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.0;
  transition: 1.1s;
}

.stars-bg.active {
  opacity: 0.1;
  transition: 1.1s;
}

#slide.slide-4 {
  background-color: rgb(16, 18, 19);
}

.thanks {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.0;
  transition: 1.1s;
}

.thanks.active {
  top: calc(50%);
  opacity: 1.0;
  transition: 1.1s;
}

.thanksstars {
  width: 600px;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.0) translate(-50%, -50%);
  transform-origin: 0 0 ;
  z-index: 2;
  text-align: center;
  animation-name: heartbeat;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-iteration-count: infinite;
}

.heart-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.0) translate(-50%, -50%);
  transform-origin: 0 0 ;
  z-index: 1;
  text-align: center;
  animation-name: heartbeat;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
  animation-iteration-count: infinite;
  filter: blur(100px);
  opacity: 0.5;
}

.scroll-light {
  position: absolute;
  bottom: 55px;
  left: 50%;
  margin: 0 auto;
  border: 0px;
  background-color: rgba(0,0,0,0);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background-image: url(i/scroll-light.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.0;
  transition: 1.1s;
  z-index: 5;
  cursor: pointer;
  outline: 0px;
  -moz-outline: 0px;
}

.scroll-light.active {
  bottom: 30px;
  opacity: 1.0;
  transition: 1.1s;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
}

.scroll-dark {
  position: absolute;
  bottom: 55px;
  left: 50%;
  margin: 0 auto;
  border: 0px;
  background-color: rgba(0,0,0,0);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background-image: url(i/scroll-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.0;
  transition: 1.1s;
  z-index: 5;
  cursor: pointer;
  outline: 0px;
  -moz-outline: 0px;
}

.scroll-dark.active {
  bottom: 30px;
  opacity: 1.0;
  transition: 1.1s;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.49,.91);
}

form {
  width: 212px;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border: 2px solid rgb(255, 238, 238);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

form input {
  width: 198px;
  font-family: 'Roboto', sans-serif;
  border: 0px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  -moz-outline: none;
  font-size: 12px;
  opacity: 1;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
}

form textarea {
  width: 198px;
  background-color: white;
  max-width: 198px;
  min-width: 198px;
  max-height: 250px;
  height: 80px;
  min-height: 80px;
  font-family: 'Roboto', sans-serif;
  border: 0px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  -moz-outline: none;
  opacity: 1;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
}

form button {
  background-color: white;
  border-radius: 4px;
  border: 2px solid rgb(255, 112, 112);
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(255, 112, 112);
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  -moz-outline: none;
}

form button:hover, button:focus {
  background-color: rgb(255, 112, 112);
  color: white;
}

.scroll-up {
  position: absolute;
  bottom: 55px;
  left: 50%;
  margin: 0 auto;
  border: 0px;
  background-color: rgba(0,0,0,0);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background-image: url(i/scroll-up.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.0;
  transition: 1.1s;
  z-index: 5;
  cursor: pointer;
  outline: 0px;
  -moz-outline: 0px;
}

.scroll-up::after {
  content: 'GO TO TOP';
  font-size: 12px;
  color: white;
  position: absolute;
  width: 68.5px;
  text-align: left;
  top: 10.5px;
  margin-left: 0px;
  opacity: 0.0;
  transition: 1.1s;
}

.scroll-up:hover::after {
  margin-left: 20px;
  opacity: 1.0;
  transition: 1.1s;
}

.scroll-up.active {
  bottom: 30px;
  opacity: 1.0;
  transition: 1.1s;
}

.project-showcase-cont {
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  height: 150px;
  padding-bottom: 25px;
}

.project-showcase-cont::-webkit-scrollbar-button { 
  display: none; 
  height: 5px;
  width: 5px;
  border-radius: 0px; 
  background-color: #AAA; 
  cursor: pointer;
} 
.project-showcase-cont::-webkit-scrollbar-button:hover { 
  background-color: #AAA; 
  cursor: pointer;
} 
.project-showcase-cont::-webkit-scrollbar-thumb { 
  background-color: #9dffe2; 
  border-radius: 10px; 
  cursor: pointer;
} 
.project-showcase-cont::-webkit-scrollbar-thumb:hover { 
  background-color: #9dffe2; 
  cursor: pointer;
} 
.project-showcase-cont::-webkit-scrollbar-track { 
  background-color: rgba(0,0,0,0); 
  cursor: pointer;
} 
.project-showcase-cont::-webkit-scrollbar-track:hover { 
  background-color: rgba(0,0,0,0); 
  cursor: pointer;
} 
.project-showcase-cont::-webkit-scrollbar { 
  width: 5px; 
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.showcase {
  width: 830px;
  height: 150px;
}

.item {
  width: 250px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  float: left;
  background-color: white;
  transition: 0.2s;
  background-size: cover;
  background-position: center;
}

.item:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    bottom: 30px;
  }
  10% {
    bottom: 40px;
  }
  20% {
    bottom: 30px;
  }
  30% {
    bottom: 40px;
  }
  40% {
    bottom: 30px;
  }
  50% {
    bottom: 30px;
  }
  60% {
    bottom: 30px;
  }
  70% {
    bottom: 30px;
  }
  80% {
    bottom: 30px;
  }
  90% {
    bottom: 30px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  10% {
    transform: scale(0.9) translate(-50%, -50%);
  }
  20% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  30% {
    transform: scale(0.9) translate(-50%, -50%);
  }
  40% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  60% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  70% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  80% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  90% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1.0) translate(-50%, -50%);
  }
}

@keyframes pulse {
  0% {
    transform: rotate(0deg) scale(1.0);
  }
  50% {
    transform: rotate(15deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1.0);
  }
}

@media only screen and (max-width:1100px) { 
  .slide-content-text p {
    font-size: 1rem;
  }
  .blob-blur, .blob-blur2, .blob, .blob2 {
    display: none;
  }
}

@media only screen and (max-width:790px) { 
  .shooting-star, .space-ship {
    display: none;
  }
  .title-1, .title-2 {
    font-size: 2rem;
  }
  .slide-right-cont, .slide-left-cont {
    position: absolute;
    width: 100vw;
  }
  .stars-bg, .slide-blob-cont {
    display: none;
  }
}

@media only screen and (max-width:500px) { 
  .shooting-star, .space-ship {
    display: none;
  }
  .slide-content-text h3 {
    font-size: 20px;
  }
  .slide-content-text h3::after, .slide-content-text h3.active::after {
    margin-top: 5px !important;
    height: 15px  !important;
  }
  .topBar {
    display: none;
  }
  .topBar-Last {
    display: none;
  }
  .thanksstars {
    width: 500px;
  }
  .project-showcase-cont {
    display: none;
  }
  form {
    width: calc(100% - 104px);
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: 2px solid rgb(255, 238, 238);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
  form input {
    width: calc(100% - 12px);
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    -moz-outline: none;
    font-size: 12px;
    opacity: 1;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
  }
  form textarea {
    width: calc(100% - 12px);
    background-color: white;
    max-width: calc(100% - 12px);
    min-width: calc(100% - 12px);
    max-height: 250px;
    height: 80px;
    min-height: 80px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    -moz-outline: none;
    opacity: 1;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
  }
}