@import url("font/ibmplexsans/stylesheet.css");
@import url("font/ibmplexmono/stylesheet.css");

:root {
  --orange: #ff8a00;
  --dark: #141516;
  --orange-border: #C26C00;
  --orange-light: #FFA233;
  --sans: 'IBM Plex Sans', 'Arial', 'SF Pro', sans-serif;
  --mono: 'IBM Plex Mono', 'Consolas', 'SF Mono', monospace;
}

html {
  background: #eee;
  font-family: var(--sans);
}

a {
  color: var(--orange);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 2px dashed;
}

button {
  position: relative;
  display: block;
  font-family: var(--sans);
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
  padding: 5px 25px;
  background: var(--orange);
  border: 0px;
  border-radius: 4px;
  transition: 0.15s ease-in-out all;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

#support_button {
  float: right;
  margin: 20.5px 40px 0px 0px;
}

button:hover {
  background: var(--orange-light);
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--dark);
  z-index: 1000;
}

aside {
  position: fixed;
  top: 70px;
  left: 0;
  width: 250px;
  height: calc(100% - 70px);
  background: #e5e5e5;
  z-index: 999;
}

main {
  position: relative;
  display: block;
  margin: 110px 40px 40px 290px;
  width: calc(100% - 410px);
  padding: 40px;
  background: white;
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

footer {
  position: relative;
  display: block;
  margin: 40px 40px 40px 290px;
  width: calc(100% - 410px);
  padding: 20px 40px;
  text-align: center;
  font-size: 0px;
}

#footer_credit {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: normal;
  color: #888;
  text-align: center;
  padding: 0px 0px 0px 30px;
  line-height: 40px;
  vertical-align: middle;
  background-image: url("../../../../res/image/zacharyfetters_logo.png");
  background-size: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

#footer_credit b {
  color: #008efe;
}

#app_version {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  line-height: 60px;
  vertical-align: middle;
  overflow: hidden;
}

#app_version:after {
  content: '';
  position: absolute;
  width: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 1px;
  background: rgba(0,0,0,0.1);
}

#header_logo {
  position: relative;
  display: block;
  float: left;
  height: 70px;
  width: 250px;
  margin: 0px 40px 0px 0px;
  background: url("../image/brand/TagGen_ComboMark_Light.svg") center no-repeat;
  background-size: 100px auto;
  overflow: hidden;
  transition: 0.15s ease-in-out background;
}

#header_logo:after {
  content: '';
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 0;
  width: 1px;
  background: rgba(255,255,255,0.1);
}

#header_logo:hover {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}

#header_nav {
  float: left;
  height: 70px;
  font-size: 0px;
}

#header_nav a {
  font-size: 0.9rem;
  line-height: 70px;
  vertical-align: middle;
  margin: 0px 15px 0px 0px;
}

#no_choice {
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  color: #555;
  font-size: 1.1rem;
  user-select: none;
  pointer-events: none;
}

#section_title {
  padding: 20px 40px;
  margin: -40px 0px 40px -40px;
  width: 100%;
  background: var(--orange);
  color: white;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.1);
  border-bottom: 1px solid var(--orange-border);
}

#btn_container {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100% - 70px);
  margin: 0px;
  overflow: auto;
  scrollbar-width: thin;
}

.st {
  position: relative;
  display: block;
  margin: 20px;
  width: calc(100% - 40px);
  padding: 10px 0px 10px 37px;
  border-radius: 5px;
  border: 0px;
  background-color: rgba(0,0,0,0.05);
  font-family: var(--sans);
  font-size: 0.8rem;
  overflow: hidden;
  font-weight: normal;
  color: black;
  text-shadow: none;
}

.st.active, .st.active:hover {
  background-color: var(--orange);
  color: white;
}

.st:first-of-type {
  margin: 40px 20px 20px 20px;
}

.st:last-of-type {
  margin: 20px 20px 0px 20px;
}

.st:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 37px;
  background-position: center;
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.05);
}

.st.active:after {
  filter: invert(100%);
}

.st:hover, .st:hover:after {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.st.og:after {background-image: url("../image/icons/st_og_dark.png")}
.st.seo:after {background-image: url("../image/icons/st_seo_dark.png")}
.st.json:after {background-image: url("../image/icons/st_json_dark.png")}

main h2 {
  margin: 0px 0px 25px 0px;
  padding: 0px;
}

#support_modal {
  position: fixed;
  top: calc(50% + 35px);
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 45px 20px 20px 20px;
  width: calc(100% - 60px);
  margin: 0px;
  background: white;
  z-index: 1000;
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}

#support_modal p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.modal_title {
  width: 100%;
  margin: -45px 0px 0px -20px;
  padding: 0px 20px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 0.8rem;
  background: var(--orange);
  border-bottom: 1px solid var(--orange-border);
  color: white;
}

#input_fields {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

label {
  display: block;
  width: 100%;
  margin: 0px 0px 10px 0px;
  font-size: 0.8rem;
  color: #555;
}

select, input {
  position: relative;
  display: block;
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: var(--sans);
  cursor: pointer;
}

select * {
  font-family: var(--sans);
}

/*Static page styling*/

body[static] main, body[static] footer {
  margin: 110px auto 40px auto;
  width: calc(100% - 160px);
  max-width: 1000px;
}

body[static] footer {
  margin: 40px auto;
}

body[static] #header_logo {
  width: 90px;
  background-image: url("../image/brand/TagGen_Logo_Light.svg");
  background-size: 40px;
}

h2.section {
  cursor: pointer;
  font-size: 2rem;
}

h2.section span {
  font-weight: 300;
  color: #aaa;
}

h2:hover.section:before {
  content: '#';
  position: absolute;
  margin-left: -22px;
  color: #aaa;
}