@import url("font/ibmplex/stylesheet.css");
@import url("font/indecise/stylesheet.css");

:root {
	--red: rgb(255, 50, 50);
	--ibm: 'IBM Plex Sans', 'Arial', 'SF Pro', sans-serif;
	--ind: 'Indecise Condensed', 'Times New Roman', serif;
}

::selection, ::-moz-selection {
	background-color: var(--red);
	color: white;
}

html {
	background-color: #111;
	font-family: var(--ibm);
}

body {
	margin: 0 auto;
	max-width: 760px;
	width: 100%;
	background-color: #1b1b1b;
	padding: 10px 40px;
}

footer {
	position: relative;
	display: block;
	width: calc(100% + 80px);
	margin: 0px 0px -10px -40px;
	height: 120px;
	background-color: #222;
	overflow: hidden;
}

#body-tagline {
	position: relative;
	display: block;
	width: calc(100% + 80px);
	margin: -10px 0px 0px -40px;
	height: 30px;
	background-color: #555;
	overflow: hidden;
}

#tagline-logo {
	height: 30px;
	width: 130px;
	margin: 0;
}

#tagline-byline {
	position: relative;
	display: block;
	height: 30px;
	width: 198px;
	float: right;
}

#tagline-left, #tagline-right {
	position: relative;
	display: block;
	float: left;
	height: 30px;
	width: 50%;
}

img.heading {
	position: relative;
	display: block;
	height: 200px;
	width: 760px;
	margin: 0px 0px 0px -40px;
}