@import url("res/font/ibm-plex.min.css");

* {
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none !important;
}

::selection, ::-moz-selection {
  background: #98ff8b;
  color: #222;
}

.s {font-family: 'IBM Plex Sans', sans-serif !important} /*Serif font*/

.m {font-family: 'IBM Plex Mono', monospace !important} /*Monospace font*/

.ns { /*No-select*/
  user-select: none;
  pointer-events: none;
}

html {
  background: #eee;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
}

/*
* Global elements
*/

main {
  position: relative;
  margin: 100px auto 0px auto;
  padding: 25px;
  max-width: 850px;
  width: calc(100% - 50px);
  z-index: 0;
}

main a {
  text-decoration: none;
  color: #4c8245;
  font-weight: 600;
}

main a:hover {
  color: #73af6b;
}

main hr {
  position: relative;
  display: block;
  height: 0px;
  width: 100px;
  margin: 0 auto 24px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main p {
  font-size: 18px;
  line-height: 32px;
  padding: 0;
  margin: 0 0 24px 0;
}

main h2 {
  position: relative;
  display: block;
  font-size: 32px;
  margin: 42px 0;
  padding: 0;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}

main h2:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  background: rgb(76,130,69);
  background: -moz-linear-gradient(45deg, rgba(76,130,69,1) 0%, rgba(152,255,139,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(76,130,69,1) 0%, rgba(152,255,139,1) 100%);
  background: linear-gradient(45deg, rgba(76,130,69,1) 0%, rgba(152,255,139,1) 100%);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
}

main h2:before {
  content: "#";
  position: absolute;
  opacity: 0.0;
  color: #aaa;
  margin: 0 0 0 -24px;
}

main h2:hover:before {opacity: 1.0}

main ul {
  position: relative;
  display: block;
  padding: 0 32px;
  margin: 24px 0;
}

main ul li {
  position: relative;
  display: block;
  list-style: none;
  margin: 0 0 14px 0;
  padding: 0 0 0 14px;
  font-size: 18px;
  line-height: 18px;
}

main ul li:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0;
  top: 6px;
  border-radius: 6px;
  background: rgb(76,130,69);
  background: -moz-linear-gradient(45deg, rgba(76,130,69,1) 0%, rgba(152,255,139,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(76,130,69,1) 0%, rgba(152,255,139,1) 100%);
  background: linear-gradient(45deg, rgba(76,130,69,1) 0%, rgba(152,255,139,1) 100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: white;
  width: 100%;
  height: 80px;
  z-index: 9999;
}

#header_container {
  position: relative;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

#header_logo {
  position: relative;
  float: left;
  overflow: hidden;
  width: 52px;
  height: 80px;
  margin: 0 15px 0 25px;
}

#header_logo img {
  position: absolute;
  height: 50px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header_title {
  position: relative;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

#header_links {
  position: relative;
  display: block;
  float: right;
  width: calc(100% - 225px);
  height: 80px;
  margin: 0 25px 0 0;
  text-align: right;
}

#header_links a {
  position: relative;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  margin: 0 0 0 15px;
  text-decoration: none;
  font-weight: 500;
  color: #222;
}

#header_links a:hover {color: #4c8245;}

#header_links a button {
  padding: 3px 15px;
  background: #68a860;
  color: white;
  border: 2px solid #61925a;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.1s ease-in-out all;
}

#header_links a:hover button {
  background: transparent;
  color: #61925a;
}

footer {
  width: calc(100% - 48px);
  position: relative;
  display: block;
  padding: 32px 24px;
  margin: 64px 0 0 0;
  border-top: 1px solid #ccc;
}

footer p {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
  color: #555;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

footer img {
  display: inline-block;
  height: 24px;
  margin: 0 2px -7px 2px;
  padding: 0;
}

/*
* Home elements
*/

#home_hero {
  position: relative;
  margin: 80px auto 0 auto;
  max-width: 900px;
  width: 100%;
  height: 300px;
}

#hero_subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top: calc(50% + 20px);
  transform: translateY(-50%);
  overflow: hidden;
  text-align: center;
  font-size: 38px;
  color: #222;
  font-weight: 400;
  z-index: 2;
}

#hero_subtitle:after {
  content: 'A simple text & markdown editor for Windows.';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 38px;
  color: #eee;
  font-weight: 400;
  mask: url("res/img/home_mask.svg") luminance;
  mask-position: 50%;
  mask-repeat: no-repeat;
  z-index: 2;
}

#hero_laptop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  height: 300px;
  z-index: 1;
}