@font-face {
    font-family: 'minecraftia';
    src: url('minecraftia-webfont.woff2') format('woff2'),
         url('minecraftia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}