@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Bold.eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Bold'), local('FiraCode-Bold'), url('FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Light.eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Light'), local('FiraCode-Light'), url('FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('FiraCode-Regular'), url('FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Medium.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Medium'), local('FiraCode-Medium'), url('FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-SemiBold.eot');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code SemiBold'), local('FiraCode-SemiBold'), url('FiraCode-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}