@font-face {
  font-family: 'OFL Sorts Mill Goudy';
  src: url('OFLGoudyStM-Italic.eot');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'OFL Sorts Mill Goudy';
  src: local('OFL Sorts Mill Goudy Italic'), local('OFLGoudyStM-Italic'), url('OFLGoudyStM-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OFL Sorts Mill Goudy';
  src: url('OFLGoudyStM.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OFL Sorts Mill Goudy';
  src: local('OFL Sorts Mill Goudy'), local('OFLGoudyStM'), url('OFLGoudyStM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}