@font-face {
  font-family: 'Pixeled';
  src: url('Pixeled.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixeled';
  src: local('Pixeled Regular'), local('Pixeled'), url('Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}