@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=latin-ext');
@import url('font/stylesheet.css');

body {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: #0f0f10;
	font-family: 'Source Sans Pro', sans-serif;
	user-select: none;
	-moz-user-select: none;
	scroll-behavior: smooth;
	margin-bottom: 25px;
}

#background-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	left: 0;
	top: 0;
	background: #8bbdff;
	background: -moz-linear-gradient(top,  #8bbdff 0%, #c98659 100%);
	background: -webkit-linear-gradient(top,  #8bbdff 0%,#c98659 100%);
	background: linear-gradient(to bottom,  #8bbdff 0%,#c98659 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bbdff', endColorstr='#c98659',GradientType=0 );	
}

.bg-clouds {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: -50px;
	left: 0;
	opacity: 0.8;
	background-image: url(i/clouds.png);
	background-size: contain;
	background-position: 0vw top;
	background-repeat: repeat-x;
	animation-name: clouds;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes clouds {
	0% {
		background-position: 0vw top;
	}
	100% {
		background-position: 100vw top;
	}
}

.bg-sun {
	width: 260px;
	height: 260px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%) scale(1.5);
	transform-origin: center;
	opacity: 1;
	background-image: url(i/sun.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-earth {
	position: absolute;
	width: 100vw;
	height: 800px;
	background-image: url(i/blockybg.png);
	background-size: cover;
	top: calc(100vh - 128px);
	background-repeat: repeat-x;
	background-position: center top;
}

#hero {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.logo {
	height: 75px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#content {
	width: 750px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 3px;
	margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
	color: #4c151e;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

.disclaimer {
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	color: #777;
	font-size: 0.8rem;
	margin-bottom: 0px;
	margin-top: -75px;
	padding: 10px;
	background-color: #0f0f10;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: #4c151e;
	font-weight: bold;
}

a[name="about"] {
	font-size: 0px;
}

.scroll-down {
	position: absolute;
	bottom: 25px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
}

.splash-container {
	position: absolute;
	text-align: center;
	transform-origin: center;
	top: calc(50% + 10px);
	left: calc(50% + 180px);
	transform: translate(-50%, -50%) rotateZ(-25deg) scale(1.0);
	z-index: 5;
	color: #ff0;
	text-shadow: 2px 2px 0px #3f3f00;
	font-size: 12px;
	font-family: 'Minecraftia';
	animation-name: bounce;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 15px;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 20px;
  display: none;
  background-color: white;
  overflow: hidden;
	margin-bottom: 15px;
	border-radius: 5px;
}

@keyframes bounce {
	0% {
		transform: translate(-50%, -50%) rotateZ(-25deg) scale(1.0);
	}
	50% {
		transform: translate(-50%, -50%) rotateZ(-25deg) scale(1.25);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(-25deg) scale(1.0);
	}
}

@media only screen and (max-width: 800px) {
	#content {
		width: calc(100% - 70px);
		margin-left: 10px;
		margin-right: 10px;
	}
	.splash-container {
		display: none;
	}
	.logo {
		height: 35px;
	}
}