html {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
}

body {
  margin: 40px auto;
  max-width: 900px;
  width: calc(100% - 40px);
}

::selection, ::-moz-selection {
  background: lightseagreen;
  color: white;
}

*:focus {outline: 1px dashed lightseagreen}

a {
  text-decoration: none;
  color: lightseagreen;
  font-weight: bold;
}

a:hover {color: darkseagreen}

header, section, footer {
  position: relative;
  display: block;
  padding: 20px;
  background: white;
  border-radius: 6px;
  margin: 0 0 20px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
}

header {background: lightseagreen}

section::after {
  content: "§";
  position: absolute;
  font-size: 84px;
  line-height: 84px;
  font-weight: bold;
  left: -14px;
  top: -20px;
  color: rgb(245, 245, 245);
  z-index: 0;
}

footer {
  margin: 0;
  text-align: center;
  color: rgb(100, 100, 100);
  line-height: 1.0;
  font-size: 12px;
}

#page-brand {
  position: relative;
  display: block;
  max-width: 260px;
  max-height: 100px;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
}

h2 {
  position: relative;
  display: block;
  color: lightseagreen;
  margin: 0 0 10px 0;
  padding: 0;
  z-index: 2;
}

p {
  position: relative;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1.5;
  z-index: 2;
  text-align: justify;
}

section p:last-of-type {margin: 0}