@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-Light.eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url('IBMPlexSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-Bold.eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url('IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-Italic.eot');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'), url('IBMPlexSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-ExtraLightItalic.eot');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans ExtraLight Italic'), local('IBMPlexSans-ExtraLightItalic'), url('IBMPlexSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-ExtraLight.eot');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'), url('IBMPlexSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-BoldItalic.eot');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
        url('IBMPlexSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-Medium.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'), url('IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-MediumItalic.eot');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'), url('IBMPlexSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans'), local('IBMPlexSans'), url('IBMPlexSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-SemiBold.eot');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url('IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-LightItalic.eot');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Light Italic'), local('IBMPlexSans-LightItalic'), url('IBMPlexSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-SemiBoldItalic.eot');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'), url('IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Text';
    src: url('IBMPlexSans-Text.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans Text';
    src: local('IBM Plex Sans Text'), local('IBMPlexSans-Text'), url('IBMPlexSans-Text.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-Thin.eot');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'), url('IBMPlexSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-ThinItalic.eot');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Thin Italic'), local('IBMPlexSans-ThinItalic'), url('IBMPlexSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Text';
    src: url('IBMPlexSans-TextItalic.eot');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans Text';
    src: local('IBM Plex Sans Text Italic'), local('IBMPlexSans-TextItalic'), url('IBMPlexSans-TextItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}