@import "../../static/style/global.less";

.header-tool-container {
  position: absolute;
  display: inline;
  left: 50%;
  height: 50px;
  overflow: hidden;
  transform: translateX(-50%);
}

.header-tool-container svg.header-logo {
  position: relative !important;
  display: block !important;
  float: left;
  left: 0 !important;
  padding: 0px;
  padding-top: 15px;
}

.header-tool-container span {
  display: block;
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  line-height: 32px;
  margin-top: 9px;
  color: #757575;
  user-select: none;
  pointer-events: none;
  float: left;
  margin-left: 50px;
}

.header-tool-container span::before {
  content: '/';
  position: absolute;
  font-weight: 100;
  color: black;
  font-size: 60px;
  margin-top: -5px;
  margin-left: -32px;
  color: #ccc;
}