@import url("res/font/stylesheet.css");

* {
  image-rendering: crisp-edges;
  font-family: sans-serif;
}

html {
  background-color: #25211a;
  background-image: url("res/img/PageBackground.png");
  background-position: center top;
  background-size: auto;
  background-repeat: repeat-y;
}

body {
  position: relative;
  margin: 50px auto;
  width: 1000px;
}

.logo {
  position: relative;
  display: block;
  width: 512px;
  margin: 0px auto 50px auto;
  user-select: none;
  pointer-events: none;
}

board-container {
  position: relative;
  display: block;
  width: 512px;
  height: 512px;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("res/img/BoardBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0px;
  z-index: 1;
}

board-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  background-image: url("res/img/BoardForeground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  pointer-events: none;
}

board-container grid {
  position: relative;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
  background-image: url("res/img/GridWhite.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

@keyframes moveSelector {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

board-container piece:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("res/img/PieceHover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: moveSelector;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

board-container piece.selected:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("res/img/MoveSelector.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: moveSelector;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

board-container grid:not(grid.active):hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("res/img/GridHover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: moveSelector;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

board-container grid:nth-of-type(-2n+8), 
board-container grid:nth-of-type(8) ~ grid:nth-of-type(-2n+15), 
board-container grid:nth-of-type(16) ~ grid:nth-of-type(-2n+24),
board-container grid:nth-of-type(24) ~ grid:nth-of-type(-2n+31),
board-container grid:nth-of-type(32) ~ grid:nth-of-type(-2n+40),
board-container grid:nth-of-type(40) ~ grid:nth-of-type(-2n+47),
board-container grid:nth-of-type(48) ~ grid:nth-of-type(-2n+56),
board-container grid:nth-of-type(56) ~ grid:nth-of-type(-2n+63) {
  background-image: url("res/img/GridBlack.png");
}

board-container grid piece {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

board-container grid piece.select:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

board-container grid piece[data-ptyp = "black"] {
  background-image: url("res/img/PieceBlack.png");
}

board-container grid piece[data-ptyp = "white"] {
  background-image: url("res/img/PieceWhite.png");
}

board-container grid piece[data-ptyp = "black"][data-isking = "true"] {
  background-image: url("res/img/KingBlack.png");
}

board-container grid piece[data-ptyp = "white"][data-isking = "true"] {
  background-image: url("res/img/KingWhite.png");
}