* {
  image-rendering: crisp-edges;
  font-family: sans-serif;
}

html {
  color: white;
  background-image: url("res/img/PageBackground.png");
}

body {
  position: relative;
  margin: 50px auto;
  width: 100%;
}

.logo {
  position: relative;
  display: block;
  height: 144px;
  margin: 0px auto 50px auto;
  user-select: none;
  pointer-events: none;
}

board-container {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 0px 2px #555;
  font-size: 0px;
}

board-container grid {
  position: relative;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
  background-image: url("res/img/GridWhite.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

board-container grid::after {
  content: attr(gridId);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  line-height: 10px;
  font-size: 10px;
  text-align: center;
  color: #aaa;
  font-weight: bold;
  opacity: 0.5;
  text-shadow: 0px 0px 1px rgba(0,0,0,1);
}

board-container grid:nth-of-type(-2n+8), 
board-container grid:nth-of-type(8) ~ grid:nth-of-type(-2n+15), 
board-container grid:nth-of-type(16) ~ grid:nth-of-type(-2n+24),
board-container grid:nth-of-type(24) ~ grid:nth-of-type(-2n+31),
board-container grid:nth-of-type(32) ~ grid:nth-of-type(-2n+40),
board-container grid:nth-of-type(40) ~ grid:nth-of-type(-2n+47),
board-container grid:nth-of-type(48) ~ grid:nth-of-type(-2n+56),
board-container grid:nth-of-type(56) ~ grid:nth-of-type(-2n+63) {
  background-image: url("res/img/GridBlack.png");
}

board-container grid piece {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

board-container grid piece[black] {
  background-image: url("res/img/PieceBlack.png");
}

board-container grid piece[white] {
  background-image: url("res/img/PieceWhite.png");
}

board-container grid piece[black][king] {
  background-image: url("res/img/KingBlack.png");
}

board-container grid piece[white][king] {
  background-image: url("res/img/KingWhite.png");
}