@import url("res/font/stylesheet.css");

* {
  image-rendering: crisp-edges;
  font-family: sans-serif;
}

html {
  background-color: #22201b;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 50px 0px;
  width: 1000px;
  background-image: url("res/img/PageBackground.png");
  background-position: center top;
  background-size: auto;
  background-repeat: repeat-y;
}

.logo {
  position: relative;
  display: block;
  width: 512px;
  margin: 0px auto 50px auto;
  user-select: none;
  pointer-events: none;
}

#win-banner {
  position: absolute;
  z-index: 8;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  font-family: 'Pixeled', monospace;
  color: #dbd0c2;
  opacity: 0.0;
  padding: 0px 20px 8px 20px;
  text-shadow: 0px 4px 0px rgba(0,0,0,0.25);
  background-color: #258649;
  background-image: url("res/img/ButtonBackgroundActive.png");
  border-image: url("res/img/ButtonBorderActive.png") 48 / 8px round;
  user-select: none;
  pointer-events: none;
}

#win-banner.visible {
  top: 50%;
  opacity: 1.0;
  transition: 0.2s ease-in-out all;
}

#game-container {
  position: relative;
  display: block;
  width: calc(100% - 46px);
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}

#btn-container {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  margin: 40px auto 0px auto;
}

#btn-container button {
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  padding: 5px 20px 8px 20px;
  font-family: 'Pixeled', monospace;
  text-align: center;
  color: #2b2722;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #c0b8af;
  background-image: url("res/img/ButtonBackground.png");
  border-image: url("res/img/ButtonBorder.png") 48 / 8px round;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}

#btn-container button:hover {
  color: #24211e;
  background-color: #9c948b;
  background-image: url("res/img/ButtonBackgroundHover.png");
  border-image: url("res/img/ButtonBorderHover.png") 48 / 8px round;
}

#btn-container button:active {
  color: #dbd0c2;
  background-color: #258649;
  background-image: url("res/img/ButtonBackgroundActive.png");
  border-image: url("res/img/ButtonBorderActive.png") 48 / 8px round;
}

board-container {
  position: relative;
  display: block;
  width: 512px;
  height: 512px;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("res/img/BoardBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0px;
  z-index: 1;
}

board-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  background-image: url("res/img/BoardForeground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  pointer-events: none;
}

board-container grid {
  position: relative;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
  background-image: url('res/img/GridWhite.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

@keyframes moveSelector {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

board-container piece:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("res/img/PieceHover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: moveSelector;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

board-container piece.selected:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("res/img/MoveSelector.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: moveSelector;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

board-container grid:not(grid.active):hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("res/img/GridHover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: moveSelector;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

board-container grid:nth-of-type(-2n+8), 
board-container grid:nth-of-type(8) ~ grid:nth-of-type(-2n+15), 
board-container grid:nth-of-type(16) ~ grid:nth-of-type(-2n+24),
board-container grid:nth-of-type(24) ~ grid:nth-of-type(-2n+31),
board-container grid:nth-of-type(32) ~ grid:nth-of-type(-2n+40),
board-container grid:nth-of-type(40) ~ grid:nth-of-type(-2n+47),
board-container grid:nth-of-type(48) ~ grid:nth-of-type(-2n+56),
board-container grid:nth-of-type(56) ~ grid:nth-of-type(-2n+63) {
  background-image: url("res/img/GridBlack.png");
}

board-container grid piece {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

board-container grid piece.select:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

board-container grid piece[data-ptyp = "black"] {
  background-image: url("res/img/PieceBlack.png");
}

board-container grid piece[data-ptyp = "white"] {
  background-image: url("res/img/PieceWhite.png");
}

board-container grid piece[data-ptyp = "black"][data-isking = "true"] {
  background-image: url("res/img/KingBlack.png");
}

board-container grid piece[data-ptyp = "white"][data-isking = "true"] {
  background-image: url("res/img/KingWhite.png");
}

message-box {
  position: relative;
  display: block;
  margin: 50px auto;
  width: calc(800px - 32px);
  padding: 32px 16px;
  border-image: url("res/img/BorderImage.png") 48 / 8px round;
  background: #1d1b18;
  overflow: hidden;
  clear: both;
}

message-box h2 {
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  margin: 0px auto 24px auto;
  font-family: 'Pixeled', monospace;
  text-transform: uppercase;
  color: #dbd0c2;
  text-shadow: 0px 3px 0px rgba(0,0,0,.5);
}

message-box ul, message-box ol {
  padding: 0px 0px 0px 15px;
}

message-box p, message-box ul, message-box ol {
  color: white;
  line-height: 2rem;
  margin: 0px 32px 16px 32px;
  text-align: justify;
}

event-list {
  position: relative;
  display: block;
  margin: 50px auto;
  width: calc(800px - 32px);
  padding: 16px;
  min-height: 8rem;
  max-height: 8rem;
  border-image: url("res/img/BorderImage.png") 48 / 8px round;
  background: #1d1b18;
  overflow: hidden;
  clear: both;
}

event-list #event-container {
  position: relative;
  display: block;
  width: 100%;
  min-height: 8rem;
  max-height: 8rem;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: inherit;
}

event-list event {
  position: relative;
  display: block;
  font-family: 'Pixeled', monospace;
  padding: 4px 114px 8px 4px;
  margin: 0px 0px 2px 0px;
  width: calc(100% - 118px);
  font-size: 10px;
  line-height: 10px;
  max-height: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  text-transform: uppercase;
  background-color: #211f1c;
}

event-list event:before {
  content: attr(data-ts);
  position: absolute;
  right: 0;
  top: 0;
  line-height: 22px;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  font-size: 8px;
  font-family: sans-serif;
  color: white;
  opacity: 0.5;
}

event-list event:last-of-type {
  margin: 0px;
}

event-list event:nth-of-type(odd) {
  background-color: #292623;
}

event-list event.error {
  color: #f12828;
}

event-list event.warning {
  color: #fcda1a;
}

event-list event.info {
  color: #2c76ff;
}

event-list event.update {
  color: #555;
}

.scoreboard {
  position: absolute;
  display: block;
  width: calc(198px - 32px);
  top: 20px;
  height: calc(512px - 32px);
  border-image: url("res/img/BorderImage.png") 48 / 8px round;
  background-image: url("res/img/ScoreBackground.png");
  background-position: center;
  background-size: 16px;
  padding: 16px;
  overflow: hidden;
}

#black-scoreboard, #white-scoreboard {
  position: relative;
  width: 60px;
  margin: 100px auto 0px auto;
  height: calc(100% - 100px);
}

.piece {
  position: relative;
  display: block;
  width: 60px;
  height: 40px;
  margin-top: -30px;
  background-size: 60px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.piece:nth-of-type(1) {
  margin-top: 0px;
}

.piece.black {
  background-image: url("res/img/PieceBlack.png");
}

.piece.white {
  background-image: url("res/img/PieceWhite.png");
}

.scoreboard-title {
  position: absolute;
  display: block;
  z-index: 2;
  width: 100%;
  height: 40px;
  left: 0;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  color: #e2ded6;
  font-family: 'Pixeled', monospace;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px rgba(0,0,0,.5);
  user-select: none;
  pointer-events: none;
}

.scoreboard-title:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.scoreboard-title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: -30px;
  left: 0;
  background-image: url("res/img/UserTurn.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.0;
}

.scoreboard.turn .scoreboard-title:before {
  opacity: 1.0;
  transition: 0.1s ease-in-out opacity;
}

.scoreboard.black {
  left: 0;
}

.scoreboard.black .scoreboard-title:after {
  background-image: url("res/img/PieceBlack.png");
}

.scoreboard.white {
  right: 0;
}

.scoreboard.white .scoreboard-title:after {
  background-image: url("res/img/PieceWhite.png");
}