@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

::selection {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
 width: 3px;
}

::-webkit-scrollbar-track {
 background: #300a24;
}

::-webkit-scrollbar-thumb {
 background: #e88d67;
}

::-webkit-scrollbar-thumb:hover {
 background: #b86c4c;
} 

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: #2b0e23;
	overflow: hidden;
}

.shell-content-wrap {
	position: relative;
	display: block;
	height: calc(100vh - 28px);
	width: 100vw;
	margin-top: 28px;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
	z-index: 1;
}

.shell-content {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}

.shell-content ::selection {
	background-color: #f9fecb;
	color: #2b0e23;
}

.shell-content span {
	display: inline-block;
	height: 1rem;
	float: left;
	margin: 3px;
	padding: 0px;
	font-size: 12px;
	color: #f9fecb;
	font-family: 'Ubuntu Mono', monospace;
	user-select: none;
	pointer-events: none;
}

.shell-content input {
	position: relative;
	float: right;
	width: calc(100% - 156px);
	height: 1rem;
	margin: 3px;
	padding: 0px;
	font-size: 12px;
	color: #f9fecb;
	font-family: 'Ubuntu Mono', monospace;
	border: 0px;
	resize: none;
	background-color: rgba(0,0,0,0);
}

.shell-content input:disabled {
	position: relative;
	float: right;
	width: calc(100% - 156px);
	height: 1rem;
	margin: 3px;
	padding: 0px;
	font-size: 12px;
	color: #f9fecb;
	font-family: 'Ubuntu Mono', monospace;
	border: 0px;
	resize: none;
	background-color: rgba(0,0,0,0);
	user-select: none;
	pointer-events: none;
}

.shell-input-wrap {
	position: relative;
	display: block;
	overflow: hidden;
	margin-top: -3px;
	height: 16px;
}

#shell-output-wrap {
	position: relative;
	display: block;
	overflow: hidden;
}

#shell-output {
	position: relative;
	display: block;
	width: calc(100% - 6px);
	height: 14px;
	margin: 3px;
	padding: 0px;
	font-size: 12px;
	color: #f9fecb;
	font-family: 'Ubuntu Mono', monospace;
	border: 0px;
	resize: none;
	background-color: rgba(0,0,0,0);
}

.shell-titlebar {
	background-image: url("../media/ubuntu/shell-titlebar-bg.png");
	height: 28px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	background-repeat: repeat-x;
}

.shell-titlebar h1 {
	margin: 0px;
	padding: 0px;
	color: #dfdbd2;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	font-size: 12px;
	top: 6px;
	left: 72px;
	font-weight: 700;
	user-select: none;
	pointer-events: none;
}

.shell-titlebar-buttons {
	margin-top: 6px;
	margin-left: 7px;
	user-select: none;
}

#ubuntu-close {
	position: absolute;
	background-color: rgba(0,0,0,0);
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 16px;
	z-index: 1002;
	border-radius: 16px;
	left: 8px;
	top: 6px;
	cursor: pointer;
}

#ubuntu-max {
	position: absolute;
	background-color: rgba(0,0,0,0);
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 16px;
	z-index: 1002;
	border-radius: 16px;
	left: 46px;
	top: 6px;
	cursor: pointer;
}