@import url('fonts.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

::selection {
  background-color: #0f1c21;
  color: white;
}

::-moz-selection {
  background-color: #0f1c21;
  color: white;
}

::-webkit-selection {
  background-color: #0f1c21;
  color: white;
}

html, body {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 860px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
}

pre, blockquote, code {
  font-family: 'Source Code Pro', monospace;
}

code {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #ddd;
  border-radius: 3px;
}

a {
  color: #0f1c21;
  text-decoration: none;
  font-weight: bold;
  transition: 0.1s;
  border-bottom: 2px solid #0f1c21;
}

a:hover {
  color: #2a6174;
  transition: 0.1s;
  border-bottom: 2px solid #2a6174;
}

.portrait {
	position: relative;
	overflow: hidden;
	float: left;
  margin-right: 20px;
  margin-bottom: 0px;
  height: 14.5rem;
	vertical-align: bottom;
  user-select: none;
	border-radius: 5px;
}

.portraitClick {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.expandImage {
	position: absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	opacity: 0.5;
	transition: 0.3s;
}

.expandImage:hover {
	opacity: 1.0;
	transition: 0.3s;
}

.intro {
	position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 2.5rem;
  color: #0f1c21;
}

.intro sup {
  font-size: 1rem;
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
  display: inline-block;
}

.description {
  width: 100%;
  font-size: 1.25rem;
  margin-top: -5px;
  text-align: justify;
  line-height: 2.5rem;
}

.footer {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  color: #0f1c21;
  font-variant: small-caps;
  font-size: 0.9rem;
  user-select: none;
  margin-top: 40px;
	line-height: 1rem;
}

#expand, #copy {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25rem;
	border: 3px solid #0f1c21;
	background-color: white;
	color: #0f1c21;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	transition: 0.1s;
	margin-bottom: 1.5rem;
}

#expand:hover, #copy:hover {
	border: 3px solid #0f1c21;
	background-color: #0f1c21;
	color: white;
	transition: 0.1s;
}

#pgp {
	font-family: 'Source Code Pro', monospace;
	height: calc(1rem + 10px);
	position: relative;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 20px;
	border-radius: 4px;
	background-color: #eee;
	width: auto;
	overflow: hidden;
	word-break: normal;
	border: 1px solid #ccc;
}

#pgp.active {
	height: calc(100%);
	word-break: normal;
}

#copyTooltip {
	padding: 0px;
	margin: 0px;
	position: absolute;
	font-size: 1rem;
	width: 9.35rem;
	text-align: center;
	color: white;
	background-color: #0f1c21;
	margin-top: -40px;
	vertical-align: middle;
	border-radius: 0.25rem;
	user-select: none;
	pointer-events: none;
	opacity: 0.0;
	transition: 0.3s;
}

#copyTooltip.active {
	opacity: 1.0;
	margin-top: -45px;
	transition: 0.3s;
}

#copyTooltip::before {
	content: '';
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	background-color: #0f1c21;
	border-radius: 0.25rem;
	margin-top: 1.35rem;
	transform: rotateZ(45deg);
	left: calc(50% - 10px);
	z-index: -1;
}

#ubuntu-shell {
	width: 60rem;
	height: 30rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	border: 0px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}

.shell-titlebar {
	background-image: url("../media/ubuntu/shell-titlebar-bg.png");
	height: 28px;
	width: 60rem;
	position: fixed;
	top: calc(50% - 15rem + 14px);
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
	background-repeat: repeat-x;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.shell-titlebar h1 {
	margin: 0px;
	padding: 0px;
	color: #dfdbd2;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	font-size: 12px;
	top: 6px;
	left: 72px;
	font-weight: 700;
	user-select: none;
	pointer-events: none;
}

.shell-titlebar-buttons {
	margin-top: 6px;
	margin-left: 7px;
	user-select: none;
}

#ubuntu-close {
	position: absolute;
	background-color: rgba(0,0,0,0);
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 16px;
	z-index: 1002;
	border-radius: 16px;
	left: 8px;
	top: 6px;
	cursor: pointer;
}

#ubuntu-max {
	position: absolute;
	background-color: rgba(0,0,0,0);
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 16px;
	z-index: 1002;
	border-radius: 16px;
	left: 46px;
	top: 6px;
	cursor: pointer;
}

#portraitModel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	z-index: 9999;
	overflow: hidden;
	display: block;
}

#portraitModel.closed {
	display: none;
}

.portraitFull {
	position: absolute;
	height: calc(100% - 150px);
	left: 50%;
	transform: translateX(-50%);
	margin: 50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.85);
}

.modelInfo {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: black;
}

.downloadImage {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -34px;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0,0,0,0);
	padding: 0px;
	margin: 0px;
	border: 0px;
	color: white;
	font-size: 15px;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.95);
}

.modelInfo p {
	position: absolute;
	padding: 0px;
	margin: 0px;
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 16px;
}

.modelInfo a[rel="license"] {
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	position: absolute;
	border: 0px;
	right: 25px;
	top: 9px;
}

.modelInfo a[rel="license"] img {
	border-radius: 8px;
}

.closeModel {
	position: absolute;
	top: 25px;
	left: 25px;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0,0,0,0);
	padding: 0px;
	margin: 0px;
	border: 0px;
	color: white;
	font-size: 15px;
}

/*Responsive Design Rules*/
@media screen and (max-width:70rem) {
  #portraitModel {
    display: none !important;
  }
  .portraitClick {
    display: none !important;
  }
	#ubuntu {
		position: fixed !important;
		display: none !important;
		visibility: hidden !important;
		top: -9999px !important;
		left: -9999px !important;
	}
  html, body {
    margin: 0 auto;
    padding: 20px;
    width: calc(100% - 40px);
    font-family: 'Source Sans Pro', sans-serif;
  }
	#pgp {
		width: calc(100% - 40px);
		overflow: hidden;
	}
	#pgp.active {
		width: calc(100% - 40px);
		overflow-x: scroll;
	}
	.intro sup {
		display: none;
	}
	.description {
		text-align: left;
		word-wrap: break-word;
	}
}

@media all and (max-width:30rem) {
  html, body {
    margin: 0 auto;
    padding: 20px;
    width: calc(100% - 40px);
    font-family: 'Source Sans Pro', sans-serif;
  }
	.intro sup {
		display: none;
	}
	.portrait {
		display: none;
	}
	.description {
		text-align: left;
		word-wrap: break-word;
	}
}