@import url("global.css");

form {
  position: relative;
  display: block;
  padding: 30px;
  width: calc(100% - 60px);
  background: var(--b-yellow);
  color: var(--b-dark);
  margin: 40px 0;
}

form::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 5px solid var(--b-dark);
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

form label {
  position: relative;
  display: inline-block;
  margin: 0 0 -2px 0;
  font-weight: 400;
  font-size: 0.8rem;
  background: #eee;
  border: 2px solid var(--b-dark);
  padding: 2px 6px;
  font-family: var(--f-fira);
  cursor: pointer;
}

form input, form textarea, form select, form p {
  position: relative;
  display: block;
  width: calc(100% - 12px);
  max-width: calc(100% - 12px);
  min-width: calc(100% - 12px);
  min-height: 20px;
  margin: 0 0 20px 0;
  padding: 4px;
  font-family: var(--f-ibm);
  color: var(--b-dark);
  border: 2px solid var(--b-dark);
  background: #eee;
  font-size: 1rem;
  font-weight: 500;
  outline: none !important;
  border-radius: 0px !important;
}

form *[required] {
  padding: 4px 18px 4px 4px;
  width: calc(100% - 26px);
  max-width: calc(100% - 26px);
  min-width: calc(100% - 26px);
  background: #eee url("../image/input_required.svg") no-repeat calc(100% - 4px) 8px;
  background-size: auto 12px;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 100% !important;
  cursor: pointer;
  background: #eee url("../image/down_arrow.svg") no-repeat calc(100% - 4px) 12px !important;
  background-size: 12px auto !important;
}

form *:invalid {
  border-color: #f43838;
  outline: none;
}

form input[type="submit"] {
  position: relative;
  display: block;
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  margin: 0 auto;
  cursor: pointer;
}

form input[name="bot-field"] {display: none !important}

form input[disabled], form textarea[disabled], form select[disabled], form p[disabled] {
  background-color: #aaa;
  color: #555;
  cursor: not-allowed;
  user-select: none;
}

form p {
  text-align: center;
  padding: 24px 14px;
  min-width: calc(100% - 32px);
  max-width: calc(100% - 32px);
}

form p[disabled] {display: none}

#key {
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 4px;
  max-width: 100%;
  min-height: 529px;
  font-family: var(--f-fira);
  color: var(--b-dark);
  border: 2px solid var(--b-dark);
  background: #eee;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
}