@import url("fonts/ibmsans/stylesheet.css");
@import url("fonts/firacode/stylesheet.css");

:root {
  --b-yellow: #efe323;
  --b-dark: #1e1e1c;
  --b-light: #e7e6d9;

  --f-fira: 'Fira Code', monospace;
  --f-ibm: 'IBM Plex Sans', sans-serif;
}

::selection, ::-moz-selection {
  background: var(--b-dark);
  color: var(--b-yellow);
}

h1, h2, h3, h4, h5, h6 {font-family: var(--f-fira)}

code {
  font-size: 1rem;
  line-height: inherit;
  font-weight: 500;
  font-family: var(--f-fira);
  color: #555;
}

p {
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: 500;
  margin: 0 0 20px 0;
  text-align: justify;
}

html {
  background: #eee;
  color: var(--b-dark);
  width: 100%;
  font-family: var(--f-ibm);
}

body {
  position: relative;
  display: block;
  max-width: 900px;
  width: calc(100% - 50px);
  margin: 50px auto;
  padding: 0 25px;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 0 40px 0;
}

#header_logo {
  position: relative;
  display: block;
  float: left;
  height: 60px;
  width: 53px;
}

#header_logo img {height: 60px}

#header_links {
  position: relative;
  display: block;
  width: calc(100% - 53px);
  height: 60px;
  float: left;
  text-align: right;
}

#header_links.reader {width: calc(100% - 101px)}

#header_links a {
  position: relative;
  display: inline-block;
  line-height: 60px;
  vertical-align: middle;
  font-family: var(--f-fira);
  font-size: 1.15em;
  margin: 0 0 0 20px;
  font-weight: bold;
  color: var(--b-dark);
  text-decoration: none;
  transition: 0.1s ease-in-out all;
}

#header_links a:first-of-type {margin: 0}

#header_links a:hover {
  line-height: 52px;
  padding: 0 0 8px 0;
}

#header_links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  background: var(--b-yellow);
  left: 0;
  bottom: 0;
  transition: 0.1s ease-in-out height;
}

#header_links a:hover::after {height: 7.75px}

#title {
  position: relative;
  display: block;
  padding: 50px;
  width: calc(100% - 100px);
  background: var(--b-yellow);
  color: var(--b-dark);
}

#title h2 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  text-align: center;
  animation: title-box 0.5s ease-in-out 0s 1;
}

#title::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 5px solid var(--b-dark);
  right: -10px;
  bottom: -10px;
  z-index: -1;
  animation: title-box 0.5s ease-in-out 0.1s 1 backwards;
}

#title a {
  color: var(--b-dark);
  text-decoration: none;
  border-bottom: 3px solid var(--b-dark);
}

#title a::after {
  content: '→';
  position: absolute;
  margin: 0 0 0 10px;
  transform: translateX(-5px);
}

#title a:hover::after {transform: translateX(0px)}

@keyframes title-box {
  from {
    transform: translate(10px, 10px);
    opacity: 0.0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1.0;
  }
}

main a {color: var(--b-dark)}

main a:hover {background: var(--b-yellow)}

section {margin: 0 0 40px 0}

footer {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  margin: 60px 0 60px 0;
  padding: 40px 0 0 0;
  border-top: 2px solid var(--b-yellow);
}

footer::after {
  content: '';
  position: absolute;
  width: 38px;
  height: 40px;
  left: 50%;
  top: -21px;
  transform: translateX(-50%);
  background: #eee url("../image/brand/ZacharyFetters_Badge_Light.svg") no-repeat center;
  background-size: auto 40px;
  box-shadow: 0px 0px 0px 10px #eee;
}

footer p {
  font-size: 0.8em;
  font-family: var(--f-fira);
  font-weight: 400;
  color: #888;
  text-align: center;
  margin: 0;
  padding: 0;
}

#reader_mode {
  position: relative;
  display: block;
  float: right;
  margin: 10px 0 10px 20px;
  font-size: 0px;
  height: 40px;
  width: 28px;
  border: 0px;
  padding: 0;
  background: #eee url("../image/reader_mode.svg") no-repeat center;
  cursor: pointer;
}

#reader_mode:hover {opacity: 0.75}

@media all and (max-width: 600px) {
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  #title h2 {
    font-size: 1.4rem;
  }
  #header_links a {
    font-size: 0.9rem;
    margin: 0 0 0 12px;
  }
}

@media all and (max-width: 430px) {
  #reader_mode {
    display: none;
  }
  #header_logo {
    display: none;
  }
  #header_links {
    width: 100%;
    text-align: center;
  }
}