@import url("global.css");

.list-item {
  margin: 0 0 0 41px;
  overflow: hidden;
}

.list-item a {text-decoration: underline dashed}

.list-item a:hover {text-decoration: underline solid}

.list-item::before {
  content: '>';
  position: absolute;
  margin-left: -27px;
  color: #555;
  font-weight: 800;
}