@import url("global.css");

#showcase {
  position: relative;
  display: flex;
  width: calc(100% + 40px);
  margin: 40px 0 0 -20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.sc_item {
  position: relative;
  width: 25%;
  min-height: 200px;
  background: var(--b-yellow);
  box-shadow: 3px 3px 0px 0px var(--b-dark);
  margin: 0 20px 40px 20px;
  transition: 0.1s ease-in-out all;
}

.sc_item:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 0px 0px var(--b-dark);
}