<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns/website#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{page.title | upcase}}_DESIGN BRIEF_ZACHARY FETTERS</title>
    <script src="./../../assets/js/main.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./../../assets/css/main.css">
    <link rel="shortcut icon" type="image/png" href="./../../favicon.png">
  </head>
  <body>
    <aside>
      <a href="../../"><div id="aside-logo"><img src="./../../assets/img/ZACH_Logo_Orange.svg" alt="Zachary Fetters"/></div></a>
      <h1>Design Brief</h1>
    </aside>
    <main>
      {{page.content | markdownify}}
    </main>
  </body>
</html>