<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns/website#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HOMEPAGE_ZACHARY FETTERS</title>
    <base href="../">
    <script src="./assets/js/main.js" defer></script>
    <script src="./assets/js/aside.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
  </head>
  <body>
    <aside>
      <div id="aside-logo"><img src="./assets/img/ZACH_Logo_Orange.svg" alt="Zachary Fetters"/></div>
      <h1>Homepage</h1>
    </aside>
    <main>
      <section>
        <h2>ABOUT</h2>
        <p>Hello, my name is Zachary Fetters and I am a <span id="age">∞</span>-year-old graphic and web designer from the United States. My design ethos is focused around utilizing semantic and standardized code in ways that don't compromise accessibility for design or aesthetic.</p>
      </section>
      <section>
        <h2>SKILLS & ABILITIES</h2>
        <ul>
          <li>Front-end Design: Fluent in HTML, CSS, and Javascript. Always mindful of the latest standards and popular libraries.</li>
          <li>UX Design: I always aim for simplicity and straight-forwardness in all design patterns.</li>
          <li>Graphic Design: I've been designing for close to eight or nine years now. I'm an expert with Adobe Photoshop & Illustrator.</li>
        </ul>
      </section>
      <section>
        <h2>PROJECTS & BRIEFS</h2>
        <h3>Recent Projects:</h3>
        <ul>
          <li><a href="https://zachfetters.design/projects/minicheckers/" target="_blank" rel="noreferrer">MiniCheckers</a>: A simplified implementation of American Checkers in pure HTML/CSS/JS using no external libraries or frameworks.</li>
          <li><a href="https://github.com/zfett/PCC/" target="_blank" rel="noreferrer">Pixel Color Cipher</a>: PCC is a method for encoding ASCII, Unicode, or hexadecimal data as an image. Made in Python.</li>
          <li><a href="https://github.com/zfett/CryptoCam/" target="_blank" rel="noreferrer">CryptoCam</a>: A Python program for converting live camera input into checksum hashes using OpenCV and hashlib.</li>
        </ul>
        <h3>Recent Briefs:</h3>
        {% for brief in site.posts limit:5 %}
        <ul>
          <li>"<i>{{brief.title}}</i>" for {{brief.client}} &mdash; <a href="{{brief.url}}">View here.</a></li>
        </ul>
        {% endfor %}
      </section>
      <section>
        <h2>CONTACT</h2>
        <p>Use the following links to get in touch with me about anything:</p>
        <p><a href="https://twitter.com/zachary_fetters" target="_blank" ref="noreferrer">Twitter</a> · <a href="https://www.linkedin.com/in/zfett" target="_blank" ref="noreferrer">LinkedIn</a> · <a href="https://github.com/zfett" target="_blank" ref="noreferrer">GitHub</a> · <a href="https://www.polywork.com/zfett" target="_blank" ref="noreferrer">Polywork</a></p>
        <p>Looking for something more secure for important messages? Use my public PGP key below and send all correspondence to <a href="mailto:zachfett@protonmail.com">zachfett at protonmail dot com</a>.</p>
<textarea id="key" cols="58" rows="32" readonly="">-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v4.10.10
Comment: https://openpgpjs.org

xsBNBF6I6GUBCADJ3Xzx0NYb+XkzNwoTb1nYfWBExt+GduIxhfqmWGv8vTda
yRodgVZdQW74552F9VkXiCFVLx+nPi4c1f3g6DmsGcX640PWFoiwv21+I9YW
Y4wQpA4msJu8ugS3oOivSNbbeRlAVBybnbaealyYHAcRL61nAI5fQGSoouri
mPiR/mjE+vUi1ejkphfEsrxy1MY1bCkXXdoljwAbzuWVgusEi3Tu4AhwlFW4
3gFs6hHbZDAt3NQgeOiMUot9unfl/BBjQpcOgnrI278KNBERTAmnJHs2hAon
hA8RLrJGNRHEElhfqMAnbalDqRzy5164FradGijZEhZSp7m5a4ENwNnvABEB
AAHNMXphY2hmZXR0QHByb3Rvbm1haWwuY29tIDx6YWNoZmV0dEBwcm90b25t
YWlsLmNvbT7CwHYEEAEIACAFAl6I6yoGCwkHCAMCBBUICgIEFgIBAAIZAQIb
AwIeAQAKCRBvnOHgu1SJhH5QCACE0euNr1CL+Ati0b/ZK91yB8lU6Ig362PP
bWwOZ5jiAxCMOZS24xSpZoi0v/UV5n+0cGZxds5CEY1/5Sy+mVJpCTJPDCbP
1+yweI+ozG0ziRxiiQS5RNyfl4vZ04ooZGPmjTFD3RDrVrBvF1oIbwx2O9Vl
R4AOhJAMeO6i8Jl/+F5QgnvyEOaVO0VMbnAsN1uAsWFOCgZosPDOQebDD3Kd
5mUkF50QdkzSh92wcprIayi8vfuuoe96VZYVpupLDUKBVZZu14mYzXCEq2Z7
SgdN6Ri6sC5u8vmrz8SJ7AU2clFrS6fXUq75e19u2bXw3n1BMQ8NJQsrA+MO
Sd6uD0/KzsBNBF6I6GUBCADdo4rsO1OYVT0duy+1L6TdFlOZx0MknnPoTJ0O
/p9wTrq8epbUfe19zbmXpMDrvIbYtijqNTAnUO4vYrZR7dyrWUh48hRBjiYC
nX/nLaDIu+z+B1HRq9BK0oj6gOfuDvtg9qi02IcmbEYqkpTRMSqlW6f1xCMh
DW2+iMlFF3Pi8VBg9NrcQ+XihiTBwcQsptpivMTZVSdWwFGPbcYAcjo8SYzn
uarrl1rod0CkuSr1JyLi6VKDWgGjs54DFVrFH4gIiNbkx7SizYu605T41GMC
jnTPItSeZz0t1GfMnhDeEhCvEM56OviC8w+m3JP5oufl0TANHXDff1m/sVei
q7JBABEBAAHCwF8EGAEIAAkFAl6I6yoCGwwACgkQb5zh4LtUiYQdtgf8DJ5A
uUm44I8YezAayXH3Y0ystMgR5gye+QppaxMnbO6ddQ52nOt+IV5ibTYafq6U
rMikZ/61/zaBwDV80HbiWC/nquqcVywoj8iaPn2LMPZVNM8X+XZmQWqfSrxy
AGF6u8Ce3FAVmvaMBypNbgQexwb3P5Df1r8FsFk2VQqfFDImiPeR8ZsWMM+z
kWnYvb4xLX51/JqStNKiF1TxO53lnwBR78jKIxtDrY+efG1qnteAQ+2aiBzK
ojCMjb3S0z6S2ZfrnqOOY4LjvQMGVswoeP+IIlnXWTFfnMD25erL96ALjjcX
62Q7x9S6hmTI7IkXlXUFa2OLRsKNYkL3W9bzNA==
=XFVN
-----END PGP PUBLIC KEY BLOCK-----</textarea>
      </section>
    </main>
    <div id="clear"></div>
  </body>
</html>