<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns/website#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{page.title | upcase}}_POST_ZACHARY FETTERS</title>
    <base href="../../">
    <script src="./assets/js/main.js" defer></script>
    <script src="./assets/js/aside.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/post.css">
    <link rel="shortcut icon" type="image/png" href="./favicon.png">
    <meta property="og:title" content="{{page.title | upcase}}_POST_ZACHARY FETTERS">
    <meta property="og:site_name" content="zachfetters.design">
    <meta property="og:url" content="https://zachfetters.design/{{page.url}}/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://zachfetters.design/assets/img/seo-cover.jpg">
    <meta property="og:image:width" content="1300">
    <meta property="og:image:height" content="800">
  </head>
  <body>
    <aside>
      <a href="./"><div id="aside-logo"><img src="./assets/img/ZACH_Logo_Orange.svg" alt="Zachary Fetters"/></div></a>
      <h1>Post</h1>
    </aside>
    <main>
      <section>
        <h2>{{page.title | upcase}}</h2>
        {{page.content | markdownify}}
      </section>
    </main>
  </body>
</html>