@import url("../font/ibmplexmono/stylesheet.css");
@import url("../font/ibmplexsans/stylesheet.css");

:root {
  --blue: #008efe;
}

#nojs_banner {
  position: fixed;
  display: block;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}

#nojs_banner:after {
  content: 'NO JS';
  position: absolute;
  display: inline;
  line-height: 20px;
  width: 100%;
  font-size: 0.7rem;
  vertical-align: middle;
  text-align: center;
  background: var(--blue);
  color: white;
  top: -20px;
  left: 15px;
  padding: 0px 15px;
  transform: rotate(-45deg) translate(-50%, -50%);
}

#tracking_banner {
  position: fixed;
  display: block;
  z-index: 1000;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  width: calc(100% - 100px);
  background: #141516;
  border: 1px solid #202122;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
}

#tracking_banner p {
  position: relative;
  display: inline-block;
  margin: 0px;
  float: left;
  font-size: 0.8rem;
  line-height: 30px;
  vertical-align: middle;
  width: calc(100% - 170px);
}

.btn_container {
  float: right;
  font-size: 0px;
}

.cookie {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 4px;
  border: 0px;
  height: 30px;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.cookie:hover {
  opacity: 0.75;
}

.cookie.accept {
  border: 1px solid #3DAAFF;
  background: var(--blue);
  color: white;
}

.cookie.decline {
  background: #202122;
  border: 1px solid #404142;
  color: white;
}

html {
  background: #141516;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--blue) #202122;
}

::selection, ::-moz-selection {
  background: #008efe;
  color: white;
}

body {
  max-width: 950px;
  margin: 50px auto;
}

main {
  margin: 0px 25px;
  width: calc(100% - 50px);
  overflow: hidden;
}

header {
  position: relative;
  display: block;
  margin: 0px 0px 75px 0px;
  padding: 0px 25px 0px 25px;
  width: calc(100% - 50px);
  height: 75px;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  bottom: -25px;
  left: 0;
}

footer {
  position: relative;
  display: block;
  margin: 75px 0px 0px 0px;
  width: 100%;
  font-size: 0px;
  padding: 25px 0px;
  clear: both;
  text-align: center;
}

footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  top: -25px;
  left: 0;
}

header img {
  height: 75px;
  float: left;
}

header h1 {
  position: relative;
  display: block;
  margin: 0;
  float: right;
  color: var(--blue);
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: right;
}

header span {
  position: relative;
  display: block;
  float: right;
  margin: -17px 0px 0px 0px;
  clear: both;
  font-size: 0.8rem;
  color: #888;
  text-align: right;
}

section {
  position: relative;
  display: block;
  margin-bottom: 75px;
  padding: 75px 0px;
  padding-top: 0px;
  overflow: hidden;
}

section:after {
  content: '· · ·';
  font-size: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
  color: #888;
  position: absolute;
  bottom: -7px;
  width: 100%;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

section:last-of-type {
  margin-bottom: 0px;
  padding: 0px;
}

section:last-of-type:after {
  content: '';
  display: none;
}

section a {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

section a:hover {
  text-decoration: underline var(--blue);
}

h2 {
  position: relative;
  display: block;
  font-size: 2rem;
  line-height: 60px;
  vertical-align: middle;
  color: white;
  text-shadow: 0px 2.5px 5px rgba(0,0,0,0.25);
  text-align: right;
  margin: 0px 25px 25px 50px;
  float: right;
}

section:nth-of-type(even) h2 {
  text-align: left;
  margin: 0px 50px 25px 25px;
  float: left;
}

section h2::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: -1;
  right: -25px;
  background: #008efe;
  background: -moz-linear-gradient(top,  #008efe 0%, #005dff 100%);
  background: -webkit-linear-gradient(top,  #008efe 0%,#005dff 100%);
  background: linear-gradient(to bottom,  #008efe 0%,#005dff 100%);
}

section:nth-of-type(even) h2::after {
  left: -25px;
}

section p {
  position: relative;
  display: block;
  margin: 0px 25px 50px 25px;
  line-height: 2rem;
  font-size: 1.2rem;
  color: white;
  text-align: justify;
}

section p:last-of-type {
  margin: 0px 25px;
}

section blockquote {
  position: relative;
  display: block;
  margin: 0px 25px 25px 25px;
  padding: 10px 0px 10px 25px;
  font-style: italic;
  line-height: 2rem;
  font-size: 1.2rem;
  color: white;
  text-align: justify;
  border-left: 3px solid #555;
}

section:nth-of-type(even) blockquote {
  position: relative;
  display: block;
  margin: 0px 25px 25px 25px;
  padding: 10px 25px 10px 0px;
  font-style: italic;
  line-height: 2rem;
  font-size: 1.2rem;
  color: white;
  text-align: justify;
  border-left: 0px;
  border-right: 3px solid #555;
}

.quote_source {
  position: relative;
  display: block;
  margin: 0px 0px 25px 50px;
  height: 30px;
  font-size: 0px;
}

section:nth-of-type(even) .quote_source {
  position: relative;
  display: block;
  margin: 0px 50px 25px 0px;
  height: 30px;
  font-size: 0px;
  text-align: right;
}

.quote_source:last-of-type {
  margin: 0px 0px 0px 50px;
}

.quote_source img {
  position: relative;
  display: block;
  float: left;
  height: 28px;
  width: 28px;
  border-radius: 30px;
  margin: 0px 0px 0px 2px;
  user-select: none;
  pointer-events: none;
  box-shadow: 0px 0px 0px 2px var(--blue);
}

section:nth-of-type(even) .quote_source img {
  float: right;
  margin: 0px 2px 0px 0px;
}

.quote_source span {
  line-height: 30px;
  vertical-align: middle;
  color: #888;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0px 0px 0px 15px;
}

section:nth-of-type(even) .quote_source span {
  margin: 0px 15px 0px 0px;
}

#skillset_container, #cert_container {
  position: relative;
  width: calc(100% - 50px);
  margin: 0px 25px 0px 25px;
}

#cert_container, #contact_container {
  clear: both;
}

#legend {
  margin: 25px 0px 0px 55px;
  font-size: 0.8rem;
  color: #888;
  line-height: 25px;
  vertical-align: middle;
  clear: both;
}

#legend span {
  color: #FFB72B;
  font-weight: bold;
  font-size: 1rem;
}

.skill, .cert, .contact {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  padding: 0px 30px 15px 30px;
  border-bottom: 1px solid #222;
}

.skill.primary {
  background-color: #222;
  background-image: url("../image/primary_skill_bg.svg");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 0px;
  padding: 15px 30px;
}

.skill.primary:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../image/primary_skill_bg_start.svg");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.skill.primary h3 {
  color: var(--blue);
  font-size: 1.3rem;
}

.skill.primary span {
  font-size: 0.8rem;
  color: #aaa;
}

.skill.primary h3:after {
  content: '*';
  position: absolute;
  font-size: 0.8rem;
  color: #FFB72B;
  top: 0;
  margin-right: -2px;
}

.skill h3, .cert h3, .contact h3 {
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 1rem;
  margin: 0px 0px 10px 0px;
  max-width: calc(100% - 250px);
}

.skill span, .cert span, .contact span {
  position: relative;
  display: block;
  color: #888;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.65rem;
  max-width: calc(100% - 250px);
}

.cert h3, .cert span, .contact span {
  max-width: 100%;
}

.skill .rating {
  position: relative;
  display: block;
  float: right;
  height: 25px;
  margin: -32px 0px 0px 0px;
  font-size: 0px;
  max-width: 250px;
  text-align: right;
}

.skill.primary .rating {
  margin: -40px 0px 0px 0px;
}

.skill .rating .dot {
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.skill .rating .dot.filled {
  background: #008efe;
  background: -moz-linear-gradient(top,  #008efe 0%, #005dff 100%);
  background: -webkit-linear-gradient(top,  #008efe 0%,#005dff 100%);
  background: linear-gradient(to bottom,  #008efe 0%,#005dff 100%);
}

.skill .rating .dot.empty {
  border: 3px solid #0073fe;
  width: 19px;
  height: 19px;
}

.skill .rating span {
  position: relative;
  display: inline-block;
  line-height: 25px;
  font-size: 0.7rem;
  vertical-align: middle;
  margin: -25px 10px 0px 0px;
  max-width: inherit;
}

.social {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  opacity: 0.2;
}

.social:hover {
  opacity: 1.0;
}

.email {
  position: relative;
  clear: both;
  width: calc(100% - 32px);
  padding: 30px 15px;
  background-color: #101112;
  border: 1px solid #202122;
  border-radius: 5px;
  margin: 25px auto;
  text-align: center;
}

.email img {
  position: relative;
  display: block;
  max-height: 25px;
  max-width: 100%;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
}

@media all and (max-width: 800px) {
  .skill .rating {
    display: none;
  }
  .skill h3, .cert h3, .skill span, .cert span,
  .contact h3, .contact span {
    max-width: 100%;
  }
}

@media all and (max-width: 530px) {
  #skillset_container {
    clear: both;
  }
  blockquote {
    clear: both;
  }
  section p {
    clear: both;
  }
  header img {
    display: none;
  }
  header h1, header span {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    float: none;
  }
  header span {
    margin: 15px 0px 0px 0px;
  }
}