@import url("../font/bagnard/stylesheet.css");
@import url("../font/poppins/stylesheet.css");

:root {
	--accent: rgb(56,207,130);
	--accent-light: rgb(124,242,182);
	--aceent-dark: rgb(54,149,100);
}

::selection, ::-moz-selection {
	background-color: var(--accent);
	color: white;
}

* {
	font-family: 'Poppins', 'Arial', 'SF Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bagnard', 'Times New Roman', serif;
}

html {
	background-color: rgb(231,244,237);
	color: rgb(28,33,31);
}

body {
	max-width: 1000px;
	width: 100%;
	height: auto;
	margin: 100px auto;
	overflow: hidden;
}

main {
	position: relative;
	z-index: 1;
}