@import url("../font/bagnard/stylesheet.css");
@import url("../font/poppins/stylesheet.css");

@keyframes fade_down {
	from {
		opacity: 0.0;
		transform: translateY(-25px);
	}
	to {
		opacity: 1.0;
		transform: translateY(0px);
	}
}

:root {
	--accent: rgb(56,207,130);
	--accent-light: rgb(124,242,182);
	--aceent-dark: rgb(54,149,100);
	
	--light: rgb(231,244,237);
	--dark: rgb(28,33,31);
}

::-webkit-scrollbar{
	width:5px;
}

::-webkit-scrollbar-track{
	background: var(--dark);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb{
	background: var(--light);
	border-radius: 0px;
}

::selection, ::-moz-selection {
	background-color: var(--accent);
	color: var(--light);
}

* {
	font-family: 'Poppins', 'Arial', 'SF Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bagnard', 'Times New Roman', serif;
}

html {
	background-color: var(--light);
	color: var(--dark);
	scroll-behavior: smooth;
	scrollbar-color: var(--light) var(--dark);
	scrollbar-width: thin;
}

body {
	max-width: 1000px;
	width: 100%;
	margin: 100px auto;
	overflow-x: hidden;
}

main {
	position: relative;
	z-index: 1;
	width: calc(100% - 55px);
	margin: 0px 55px 0px 0px;
}

main section {
	animation-name: fade_down;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0,0,0.3,1.0);
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
}

#page_logo {
	height: 75px;
	margin: 0px 0px 0px 55px;
	user-select: none;
	pointer-events: none;
}

h3 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	vertical-align: middle;
	margin: 100px 0px 25px 0px;
	padding: 0px;
	color: var(--accent);
}

h3::before {
	content: '—';
	position: relative;
	display: inline-block;
	margin-right: 15px;
	transform: translateY(-3px);
}

p {
	width: calc(100% - 55px);
	margin: 0px 0px 25px 55px;
	font-size: 1.15rem;
	line-height: 2.15rem;
	color: var(--dark);
	text-align: justify;
}